{% extends 'app/base.html' %}
{% load static %}
{% block title %}  password has been reset{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
    <h3>Welcome </h3>
     <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
       <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">password has been reset</a></li>
      </ul>
     </div>
     <div class="col-sm-9 offset-sm-1">
        <h3>password has been reset<img src="{% static 'app/images/413.gif' %}" class="img-fluid " alt="..."></h3>
        
     </div>
    </div>
   </div>
   {% endblock main-content %}